@use "../base/color";

body{
    background-color: color.$offwhite;
}

hr{
    margin: 10px 0px;
    background-color: color.$blue;
    border: none;
    height: 2px;
}

// needs to be removed!
#spacer {
    margin-top: 5rem;
}

.index_text{
    display: grid;
    justify-content: center;


    
}