@use "../base/color";

body{
    background-color: color.$offwhite;
}

hr{
    margin: 10px 0px;
    background-color: color.$blue;
    border: none;
    height: 2px;
}

// needs to be removed!
#spacer {
    margin-top: 5rem;
}

.index_text{
    display: grid;
    justify-items: center;

    .custom-btn {
        btn{
            width: 50%;

        }
    }
}

.github-corner{
    visibility: hidden;
}

@media (min-width: 768px) {
    .github-corner{
        visibility: visible;
    }

    #spacer {
        margin-top: 20rem;
        max-width: 1000px;
        margin: 0 auto;
    }

}

// Loading animation 
.overlay{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
}

.layer{
    background: blue;
}

.layer-1{
    flex: 1;
}

.layer-2{
    flex: 1;
}

.layer-3{
    flex: 1;

}