
@use "../base/color";

/* loading animation*/

#loading_container {
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color.$blue;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
  }
  .hidden {
    display: none;
  }
  
