
@use "../base/color";

.contents {
    width: 100%;
    height: 4vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .slider {
    position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  
  .slider .slider-inner {
    display: flex;
    width: 100%;
    transition: all .3s;
  }
  
  .slider .slide {
    flex: none;
    width: 100%;
  }
  
  .slider .indicators {
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
  }
  
  .slider .indicators .indicator {
    margin: 0px 5px;
    width: 10px;
    height: 10px;
    background-color: color.$blue;
    border: 1px solid color.$blue;
    opacity: .6;
    cursor: pointer;
    transition: all .3s;
  }
  
  .slider .indicators .indicator[active] {
    width: 15px;
    opacity: 1;
  }
  .slider .position {
    position: absolute;
    top: 0px;
    width: 100%;
    
  }
  .slider .arrows {
    display: flex;
    align-items: center;
    width: 100%;
    
    margin: 0 auto;
  }
  
  .slider .arrows .arrow-prev,
  .slider .arrows .arrow-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background-color: color.$offwhite;
    border: none;
    cursor: pointer;
    transition: all .3s;

    svg{
      width: 100%;
      height: 30px;
    }
    
  }
  
  .slider .arrows .arrow-prev:hover,
  .slider .arrows .arrow-next:hover {
    opacity: .8;

  }

 
   
