@use "../base/color";


html {
    scroll-behavior: smooth;
}

.index_text {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .lines {
        width: 100vw;
      }
      .left, .right {
        width: 50vw;
        overflow: hidden;
        display: inline-block;
      }
      .left {
        color: color.$blue;
        transform: skew(0deg, -15deg);
      }
      .right {
        color: black;
        transform: skew(0deg, 15deg);
      }
      .left .content {
        width: 100vw;
        text-align: center;
      }
      .right .content {
        width: 100vw;
        text-align: center;
        transform: translate(-50vw);
      }
      span {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        font-size: 10vw;
        text-transform: uppercase;
        line-height: .8;
        transition: ease-out .6s;
      }
  }
  
      
      


// .index_text{
//     display: grid;
//     justify-items: center;
//     height: 75vh;

//     .custom-btn {
//         btn{
//             width: 50%;

//         }
//     }
// }

.about_container{

    div.about.technologies .icons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        filter: grayscale(100%);
        // filter: sepia(100%) hue-rotate(190deg) saturate(500%);

        img{
            width: 50px;
            height: 50px;
            padding: 3px;
        }
        svg{
            padding: 3px;
            
        }
        
    }
}

.fact_container{
    img{
        width: 100%;
    }

    
}




@media (min-width: 678px){
    .about_container{
        display: flex;
    
        .about {
            width: 50%;
    
            h2{
                margin: 10px 0px;
            }
    
        }
    
        
    
    }


    .fact_container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);

        .fun{
            width: 100%;
        }

        .fact_2{
            grid-row: 2;
            grid-column: 2;
        }

        .fact_3{
            grid-row: 3;
            grid-column: 3;
        }



        // img{
        //     width: 40%;
        // }

        
    }

}
