@use "../base/color";


html {
    scroll-behavior: smooth;
}

.index_text {
    height: 40vh;
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .lines {
        width: 100vw;
      }
      .left, .right {
        width: 50vw;
        overflow: hidden;
        display: inline-block;
      }
      .left {
        color: color.$blue;
        transform: skew(0deg, -15deg);
      }
      .right {
        color: black;
        transform: skew(0deg, 15deg);
      }
      .left .content {
        width: 100vw;
        text-align: center;
      }
      .right .content {
        width: 100vw;
        text-align: center;
        transform: translate(-50vw);
      }
      span {
        display: inline-block;
        font-family: 'Montserrat', sans-serif;
        
        font-size: calc(2.6rem + (80 - 2.5) * ((100vw - 350px) / (1600 - 300)));
        // font-size: 10vw;
        font-weight: 800;
        text-transform: uppercase;
        line-height: .8;
        transition: ease-out .6s;
      }
  }
  
      
.index_cta{
    margin: 0 auto;
    text-align: center;
    color: blue;
    height: 30vh;

    .learn_more {
        margin: 0 auto;
        padding: 15px 0px

    }

}



.about_container{

    div.about.technologies .icons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        filter: grayscale(100%);
        // filter: sepia(100%) hue-rotate(190deg) saturate(500%);

        img{
            width: 50px;
            height: 50px;
            padding: 3px;
        }
        svg{
            padding: 3px;
            
        }
        
    }
    div.about.image{
        img{
            width: 100%;
        }
    }   
}

.fact_container{
    img{
        width: 100%;
    }

    
}

.last_section{
    display: block;
    padding: 20px 0px;
    text-align: center;

    .custom-btn{
        width: 300px;
        height: 100px;
    }

}




@media (min-width: 678px){

    .index_text {
        height: 60vh;
        padding-top: 140px;
    }

    .about_section{

        .about_container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        
            .about {
                max-width: 60ch;
    
            }
    
            div.about.image{
                grid-column: 2;
                grid-row: 1/ span 2;
                
            }

            div.about.technologies{
                grid-column: 1;
                grid-row: 2;
            }

    }
    
}


    .fact_container{
        display: grid;
        

        
    }

}
