@use "../base/color";
@use "../base/fonts";

.first_section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 15px;
  column-gap: 0.5em;

  img {
      width: 100%;
      filter: sepia(100%) hue-rotate(190deg) saturate(500%);
      border-radius: 80px 80px 0px 0px;
      grid-column: span 2;
      padding-bottom: 10px
      
  }

  button {
    width: 100%;
    row-gap: 10px;
  }

}





.second_section {
  margin: 15px;

}






.process_container {
    display: grid;
    margin: 15px;

    .process_text {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        gap: 0.3rem;
        margin-top: 2rem;
      }
      h4 {
        /* writing-mode: vertical-lr; */
        transform: rotate(90deg);
        font-variant-numeric: tabular-nums;
      }
      .process_text::after {
        content: "";
        width: 2px;
        background: color.$blue;
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        margin: 0.15rem 1rem;
      }
      p {
        grid-row: 2;
        grid-column: 2;
      }
}

@media (min-width: 500px) {
    .process_container {
      grid-template-columns: 1fr 1fr 1fr;
    }
    h2,
    hr {
      grid-column: 1/-1;
    }
  }


