@use "../base/color";

h1{
    color: color.$blue;
    font-size: calc(1rem + (32 - 2.5) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
}

h2 {
    color: color.$blue;
}

h3 {
    color: color.$blue;
}

h4 {
    color: color.$blue;
}

p{
    color: color.$black;
}


