@use "../base/color";

h1{
    color: color.$blue;
    font-size: calc(1rem + (32 - 2.5) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    font-weight: 800;
    letter-spacing: 0.1rem;
    font-family: "Arame sans serif";
}

h2 {
    color: color.$blue;
    font-family: "Arame sans serif"
}

h3 {
    color: color.$blue;
    font-family: "Arame sans serif"
}

h4 {
    color: color.$blue;
    font-family: "Arame sans serif"
}

p{
    color: color.$black;
}

@font-face {
    font-family: "Arame sans serif";
    src: url("fonts/arame_thin-webfont.woff2") format("woff2");
}

.logo {
    margin: 10px 0px 6px 10px;
    width: 2.5rem;
    font-size: 1.5rem;
    font-family: "Arame sans serif";
}